* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

li {
  list-style: none;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
}

.slider__prev,
.slider__next {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    cursor: pointer;
}

.slider__prev {
    left: -50px;
    transform: rotate(45deg);
  }
  
  .slider__next {
    right: -50px;
    transform: rotate(225deg);
  }

.slider__inner {
  width: 430px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 0 10px 2px rgba(0,0,0, .5);
}

.slider__slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: .4s;
}

.slider__slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.slider__slide-img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider__counter {
  margin-top: 20px;
  font-size: 20px;
}

.controls {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-top: 20px;
}

.controls__control {
  width: 20px;
  height: 20px;
  background: grey;
  border-radius: 50%;
  cursor: pointer;
  transition: .4s;
}

.controls__control.controls__control_active {
  box-shadow: inset 0 0 7px 0 rgba(8, 187, 241, .7);
}